---
title: Le Wagon Middleman boilerplate
---
    <!-- Your banner code -->
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://unsplash.it/200/300/?random');">
      <div class="banner-content">
        <h1>WELCOME HOME</h1>
        <p>Rent unique places to stay from local hosts in 190+ countries.</p>

        <form action="#" class="form-inline">
          <input type="text" class="form-control input-lg" placeholder="Checkin">
          <input type="text" class="form-control input-lg" placeholder="Checkout">
          <select class="form-control input-lg">
            <option value="1">1 guest</option>
            <option value="2">2 guests</option>
            <option value="3">3 guests</option>
          </select>
          <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </form>


      </div>
    </div>

    <!-- Your features code -->
    <div class="container text-center icon">
      <div>
        <%= image_tag "globe.png" %>
        <h2>Discover the world</h2>
        <p>The earth is your new home.</p>
      </div>
      <div>
        <%= image_tag "dollar.png" %>
        <h2>Pay online</h2>
        <p>No cash issues anymore.</p>
      </div>
      <div>
        <%= image_tag "beer.png" %>
        <h2>Meet people</h2>
        <p>Discover new culture and lifestyle.</p>
      </div>
      <div>
        <%= image_tag "heart.png" %>
        <h2>Share and love</h2>
        <p>Join a community you will love.</p>
      </div>
    </div>



    <!-- Your cards code -->

    <div class="container">
      <div class="row">
        <% data.flats.each do |owner, flat| %>
          <div class="col-xs-12 col-sm-4">
            <% link_to "flats/#{owner}.html", class: "card card-link" do %>
              <div class="card" style="background-image: url('<%= image_path flat.picture %>');">
              <div class="card-category"><%= flat.city %></div>
              <div class="card-description">
                <h2><%= flat.name %></h2>
                <p><%= flat.summary %></p>
              </div>
                <%= image_tag flat.owner_picture, class: "card-user avatar avatar-large" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>


<!--

    <div class="wrapper-grey text-center">
      <div class="container">
        <h2>Your next trip</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card card-link" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-brussels.png');">
              <div class="card-category">Brussel</div>
              <div class="card-description">
                <h2>Anne's home</h2>
                <p>Lovely house</p>
              </div>
              <% link_to "team.html" do %>
                <%= image_tag "anne.png", class: "card-user avatar-large" %>
              <% end %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card card-link" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-paris.png');">
              <div class="card-category">Paris</div>
              <div class="card-description">
                <h2>Seb's home</h2>
                <p>Charming room with patio</p>
              </div>
              <% link_to "team.html" do %>
                <%= image_tag "seb.png", class: "card-user avatar-large" %>
              <% end %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card card-link" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-london.png');">
              <div class="card-category">London</div>
              <div class="card-description">
                <h2>Romain's home</h2>
                <p>Nice flat in picadilly</p>
              </div>
              <% link_to "team.html" do %>
                <%= image_tag "romain.png", class: "card-user avatar-large" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Your newsletter code -->
    <div class="container text-center">
      <div class="form">
        <h2>Get news from us</h2>
        <form class="form-inline">
          <div class="form-group">
            <p>Leave us your mail and get news from us</p>
            <input type="email" class="form-control" id="Email1" placeholder="flix@naturism.com">
            <button type="submit" class="btn btn-default btn-primary">Suscribe</button>
            </div>
        </form>
      </div>
    </div>

    <!-- Your map code -->
    <div id="map" style="width: 100%; height: 400px;"></div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(48.8655909, 2.378983);

    var myOptions = {
      zoom: 16,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#e9e9e9"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f5f5f5"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 29
            },
            {
                "weight": 0.2
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 18
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f5f5f5"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#dedede"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#ffffff"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "saturation": 36
            },
            {
                "color": "#333333"
            },
            {
                "lightness": 40
            }
        ]
    },
    {
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f2f2f2"
            },
            {
                "lightness": 19
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#fefefe"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#fefefe"
            },
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            }
        ]
    }
]
    };

    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "You are here!"
    });
    </script>

    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

